.Header {
  background: #f55a5a;
  height: 55px;
  display: flex;
  padding: 16px;
  align-items: center;
  justify-content: center;
}

.Header--item {
  margin: 0px 7px;
  color: white;
  font-weight: 500;
  font-size: 15px;
  letter-spacing: -0.075em;
}
